.social img {
    width: 31.5px;
    height: 40;
    border-radius: 50%;
    margin: 2% 2%;
    background-color: #ececec;
}

.container {
    margin: 0 auto;
    display: grid;
    width: 90vw;
    max-width: 1200px;
    height: auto;
}