.sidebar{
    width: 20%;
    background-color: #343434;
    /* flex: 1 1 20%; */
    display: flex;
    flex-direction: column;
}

.box{
    margin: 10px;
    height: 200px;
    background-color: #343434;
}

.form{
    padding: 15px 0 0 15px;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.registerContainer{
    background-color: #ffffff;
    margin: 0 auto;
    width: 90vw;
    min-width: 278px;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
}

.form h1{
    color: #343434;
    width: 100%;
    margin: 20px 0;
}

span{
    color: #B5121C;
}

.registerContainer .form .lastSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form div{
    width: 50%;
    padding-right: 15px;
}

.form div h3{
    color: #7F7C6C;
}

.inputForm{
    width: 100%;
    border-radius: 2px;    
}

.inputForm, .birthdate{
    margin: 10px 0;
    padding: 20px 5px;
    background-color: #EEEEEE;
    border: 0.5px solid #E1E1E1;
}

.birthdate{
    width: 31%;
}

.submitForm{
    margin: 40px 0;
    padding: 15px;
    width: 250px;
    background-color: #750201;
    color: #ffffff;
    font-size: 1.1em;
}

@media (max-width: 774px){
    .registerContainer{
        flex-direction: column;
    }

    .sidebar, .form{
        width: 100%;
    }

    .box{
        height: 10vh;
    }
}

@media (max-width: 619px){
    .form div{
        width: 100%;
    }
}