<div class="registerContainer">
  <div class="sidebar">
    <div class="box"></div>
    <div class="box"></div>
  </div>
  <div class="form">
    <h1><span>01</span> DATOS PERSONALES</h1>
    <div>
      <h3>Nombre</h3>
      <input type="text" class="inputForm">
    </div>
    <div>
      <h3>Apellido</h3>
      <input type="text" class="inputForm">
    </div>
    <div>
      <h3>Género</h3>
      <input type="text" class="inputForm">
    </div>
    <div>
      <h3>Número de Documento</h3>
      <input type="text" class="inputForm">
    </div>
    <div>
      <h3>Fecha de Nacimiento</h3>
      <select class="birthdate">
        <option>Día</option>
        <option *ngFor="let day of days" [value]="day">{{day}}</option>
      </select>
      <select class="birthdate">
        <option>Mes</option>
        <option *ngFor="let month of months" [value]="month">{{month}}</option>
      </select>
      <select class="birthdate">
        <option>Año</option>
        <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
    </div>
    <div>
      <h3>Celular</h3>
      <input type="text" class="inputForm">
    </div>
    <h1><span>02</span> E-MAIL DE ACCESO</h1>
    <div>
        <h3>Correo Electrónico</h3>
        <input type="text" class="inputForm">
      </div>
      <div>
        <h3>Confirma tu Correo Electronico</h3>
        <input type="text" class="inputForm">
      </div>
      <div>
        <h3>Contraseña</h3>
        <input type="text" class="inputForm">
      </div>
      <div>
        <h3>Confirma tu Contraseña</h3>
        <input type="text" class="inputForm">
      </div>
      <div>
        <h3>Teatro Favorito</h3>
        <select class="inputForm"></select>
      </div>
      <div class="lastSection">
        <button class="submitForm">Inscríbete</button>
        <p class="terms">Al inscribirte asumimos que estás de acuerdo con las 
        <span>Políticas de Protección de Datos Personales</span> 
        y los <span>Términos y condiciones legales</span></p>
      </div>
  </div>
</div>