<div class="containerFooter">
    <div class="divH1">
        <h1>Cinema Carmat</h1>
    </div>
    <section class="sec">

        <article class="etiqueta">
            <h4>Programacion</h4>
            <p>Cartelera</p>
            <p>Proximamente</p>
            <p>Eventos</p>
        </article>

        <article class="etiqueta">
            <h4>Sobre Cine Carmat</h4>
            <p>Nosotros</p>
            <p>Salas</p>
            <p>Terminos y condiciones</p>
        </article>


        <article class="etiqueta">
            <h4>Marketing Empresarial</h4>
            <p>Ventas Coorporativas</p>
            <p>Publicidad</p>
            <p>Eventos</p>

        </article>

        <article class="etiqueta">
            <h4>Contacto</h4>
            <p>Escribenos</p>
            <p>Trabaja con nosotros</p>

        </article>

    </section>


</div>