.categories h3{
    margin: 5px 0 20px 0;
    color: #ffffff;
    text-align: center;
    font-size: 1.7em;
}

.radio-group {
    display: flex;
    flex-flow: row wrap;
}
  
.radio-button {
    margin: 5px;
    flex-grow: 1;
    min-width: 154px;
}
  
.example-selected-value {
    margin: 15px 0;
}

.dashboardContainer{
    margin: 0 auto;
    width: 90vw;
    max-width: 1200px;
    display: flex;
    flex-flow: column wrap;
}

.categories{
    flex: 1 1 100%;
    padding: 20px;
    background-color: #333333;
}

.movies{
    padding: 20px;
    background-color: #ffffff;
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
}

app-card{
    flex-grow: 1;
    min-width: 238px;
}

@media (max-width: 948px){
    .dashboardContainer{
        flex-flow: column nowrap;
    }

    .categories, .movies{
        width: 100%;
    }

    .categories {
        min-height: 15vh;
    }
}