.categories h3{
    margin: 5px 0 20px 0;
    color: #ffffff;
    text-align: center;
    font-size: 1.7em;
}

.radio-group {
    display: flex;
    flex-flow: row wrap;
}
  
.radio-button {
    margin: 5px;
    flex-grow: 1;
    min-width: 154px;
    text-align: center;
}
  
.example-selected-value {
    margin: 15px 0;
}

.dashboardContainer{
    margin: 0 auto;
    width: 90vw;
    min-width: 278px; 
    max-width: 1200px;
    min-height: 75vh;
    display: flex;
    flex-flow: column wrap;
}

.categories{
    flex: 1 1 100%;
    padding: 20px;
    background-color: #333333;
}

.movies{
    padding: 20px;
    background-color: #ffffff;
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
}

app-card{
    flex-grow: 1;
    min-width: 238px;
}

@media screen and (max-width: 773px){
    .radio-button {
        text-align: left;
    }
}