<div class="containerLogin">

    <!-- <body> -->

        <!-- <div id="login"> -->

            <section>
                <article> <!-- deberia ser un div, la etiqueta article no es para contenedores como este -->
                    <h2 class="titulo">Cinema Carmat</h2>

                    <p class="comentario">Si no haces parte de nuestra empresa puedes registrate cuando quieras</p>

                    <p class="campo"><input type="email"
                               id="email"
                               placeholder="Correo electronico"
                               onBlur="if(this.value=='')this.value='Correo electronico'"
                               onFocus="if(this.value=='Correo electronico')this.value=''"></p>


                    <p class="campo"><input type="password"
                               id="password"
                               placeholder="Contraseña"
                               onBlur="if(this.value=='')this.value='password'"
                               onFocus="if(this.value=='password')this.value=''"></p> <!--la etiqueta p es para parrafos-->

                    <button routerLink="/dashboard">
                        Entrar
                    </button>
                </article>
            </section>

        <!--</div>--> <!-- end login -->

    <!-- </body> -->

</div>