.container {
    display: grid;
    grid-template-rows: 10vh auto 10vh;
    width: 100vw;
}

section {
    background-color: #f7f7f7;
    display: grid;
    grid-template: auto/ repeat(4, 22vw);
    grid-gap: 2em 0;
    justify-content: space-around;
    padding: 1.5em 0;
    width: 100vw;
}

section article {
    background-color: white;
    border-radius: 3px;
    color: #303032;
    height: 52vh;
    padding: 1em 0.5em;
    text-align: center;
    box-shadow: 2px 2px 5px 1px #b8b8b8;
    justify-content: space-around;
    width: 150%;
    margin: 30% 0% 0% 135%;
}

h2 {
    margin: 0% 3% 0% 0%;
    color: rgb(177, 40, 40);
    font-size: 2em;
    font-weight: 700;
    font-family: Georgia;
    text-align: center;

}

input {
    width: 90%;
    border-radius: 4px;
    height: 6vh;
    font-size: 2.5vh;
}

button {
    background-color: rgb(236, 17, 17);
    color: white;
    width: 90%;
    height: 8vh;
    border-radius: 3px;
    font-family: Georgia;
    font-size: 3vh;
}

section article p {
    font-family: Georgia;
    color: rgb(110, 105, 105);
    font-size: 3vh;
    height: 8vh;
}